// Text
$primary-text-color-dark: #2d383f;
$primary-text-color-light: #ffffff;

// Buttons
$primary-button-background-color: #0266c1;

// Background
$primary-background-color: #ffffff;

// Icons
$primary-icons-color-dark: #2d383f;
$secondary-icons-color-dark: #0266c1;
$primary-icons-color-light: #ffffff;

// Fonts
$primary-font: 'Montserrat', Helvetica, Arial, sans-serif;

// Media breakpoints
$mobile-width: 320px;
$mobile-width-max: 767px;
$tablet-width: 768px;
$desktop-width: 1440px;
