.burger {
  display: none;
}

@media (max-width: $tablet-width-max) {
  .burger {
    display: block;
    width: 26px;
    height: 26px;
    background-color: transparent;
    border: none;
    background-image: url("/__spritemap#sprite-burger-closed-view");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
  }

  .burger--open {
    background-image: url("/__spritemap#sprite-burger-opened-view");
  }
}
